<a href="https://colab.research.google.com/github/HoHoangQuan/THtoancaocap/blob/main/Baitapchuong6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
 import math 
 def giaithua(n):
  if (n==0): 
         return 1 
  else: 
    return n*giaithua(n-1)  
giaithua(3)

6

In [6]:
giaithua(4)

24

TH2

In [9]:
 def fibo(n): 
   if n == 0: 
     return 0 
   if n == 1:
     return 1 
   return fibo(n-1) + fibo(n-2) 
   fibo(4)