<a href="https://colab.research.google.com/github/HoHoangQuan/THtoancaocap/blob/main/Toanroiracchuong3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
bongda_VN = ['Văn Lâm', 'Tiến Dũng', 'Anh Đức', 'Công Phượng']
for cau_thu in bongda_VN:
 print ("Ten cau thu VietNam: ", cau_thu)

Ten cau thu VietNam:  Văn Lâm
Ten cau thu VietNam:  Tiến Dũng
Ten cau thu VietNam:  Anh Đức
Ten cau thu VietNam:  Công Phượng

In [4]:
bongda_TG = ['Messi', 'Ronaldo', 'Thonglao', 'Mbappé']
for cau_thu in bongda_TG:
 print ("Ten cau thu The gioi: ", cau_thu)

Ten cau thu The gioi:  Messi
Ten cau thu The gioi:  Ronaldo
Ten cau thu The gioi:  Thonglao
Ten cau thu The gioi:  Mbappé

In [5]:
for bong_VN in bongda_VN:
 for bong_TG in bongda_TG:
  print ("Khả năng tranh chấp quả bóng vàng giữa: ", bong_VN, " với ", bong_TG)

Khả năng tranh chấp quả bóng vàng giữa:  Văn Lâm  với  Messi
Khả năng tranh chấp quả bóng vàng giữa:  Văn Lâm  với  Ronaldo
Khả năng tranh chấp quả bóng vàng giữa:  Văn Lâm  với  Thonglao
Khả năng tranh chấp quả bóng vàng giữa:  Văn Lâm  với  Mbappé
Khả năng tranh chấp quả bóng vàng giữa:  Tiến Dũng  với  Messi
Khả năng tranh chấp quả bóng vàng giữa:  Tiến Dũng  với  Ronaldo
Khả năng tranh chấp quả bóng vàng giữa:  Tiến Dũng  với  Thonglao
Khả năng tranh chấp quả bóng vàng giữa:  Tiến Dũng  với  Mbappé
Khả năng tranh chấp quả bóng vàng giữa:  Anh Đức  với  Messi
Khả năng tranh chấp quả bóng vàng giữa:  Anh Đức  với  Ronaldo
Khả năng tranh chấp quả bóng vàng giữa:  Anh Đức  với  Thonglao
Khả năng tranh chấp quả bóng vàng giữa:  Anh Đức  với  Mbappé
Khả năng tranh chấp quả bóng vàng giữa:  Công Phượng  với  Messi
Khả năng tranh chấp quả bóng vàng giữa:  Công Phượng  với  Ronaldo
Khả năng tranh chấp quả bóng vàng giữa:  Công Phượng  với  Thonglao
Khả năng tranh chấp quả bóng vàng giữa:  Công Phượng  với  Mbappé

In [6]:
N = 4  
for i1 in range(0, N):
 for i2 in range(0, N):
  for i3 in range(0, N):
   print (i1, i2, i3)

0 0 0
0 0 1
0 0 2
0 0 3
0 1 0
0 1 1
0 1 2
0 1 3
0 2 0
0 2 1
0 2 2
0 2 3
0 3 0
0 3 1
0 3 2
0 3 3
1 0 0
1 0 1
1 0 2
1 0 3
1 1 0
1 1 1
1 1 2
1 1 3
1 2 0
1 2 1
1 2 2
1 2 3
1 3 0
1 3 1
1 3 2
1 3 3
2 0 0
2 0 1
2 0 2
2 0 3
2 1 0
2 1 1
2 1 2
2 1 3
2 2 0
2 2 1
2 2 2
2 2 3
2 3 0
2 3 1
2 3 2
2 3 3
3 0 0
3 0 1
3 0 2
3 0 3
3 1 0
3 1 1
3 1 2
3 1 3
3 2 0
3 2 1
3 2 2
3 2 3
3 3 0
3 3 1
3 3 2
3 3 3

In [7]:
for i1 in range(0, N):
 for i2 in range(0, N):
  for i3 in range(0, N):
   if i1 != i2 and i2 != i3 and i1 != i3:
    print (i1, i2, i3)

0 1 2
0 1 3
0 2 1
0 2 3
0 3 1
0 3 2
1 0 2
1 0 3
1 2 0
1 2 3
1 3 0
1 3 2
2 0 1
2 0 3
2 1 0
2 1 3
2 3 0
2 3 1
3 0 1
3 0 2
3 1 0
3 1 2
3 2 0
3 2 1

In [8]:
for i1 in range(0, N):
 for i2 in range(i1+1, N):
  for i3 in range(i2+1, N):
   print (i1, i2, i3)

0 1 2
0 1 3
0 2 3
1 2 3

In [9]:
for i1 in range(0, N):
 for i2 in range(i1, N):
  for i3 in range(i2, N):
   print (i1, i2, i3)

0 0 0
0 0 1
0 0 2
0 0 3
0 1 1
0 1 2
0 1 3
0 2 2
0 2 3
0 3 3
1 1 1
1 1 2
1 1 3
1 2 2
1 2 3
1 3 3
2 2 2
2 2 3
2 3 3
3 3 3

In [10]:
N = 3
ketqua = []
for i1 in range(0, N):
 for i2 in range(i1, N):
  for i3 in range(i2, N):
   ketqua = ketqua + [(i1, i2, i3)]
ketqua

[(0, 0, 0),
 (0, 0, 1),
 (0, 0, 2),
 (0, 1, 1),
 (0, 1, 2),
 (0, 2, 2),
 (1, 1, 1),
 (1, 1, 2),
 (1, 2, 2),
 (2, 2, 2)]

In [11]:
def implies(a, b):
 if a:
  return b
 else:
  return True
implies(10, 11)
implies(1, 11)
implies(0, 11)

True

In [12]:
x, y = 2, 3
implies(x>=0 and y >=0, x*y >=0)

True

In [14]:
x, y = -2, 3 
implies(x>=0 and y >=0, x*y >=0)

True

In [15]:
N = 3
ketqua = []
for i1 in range(0, N):
 for i2 in range(i1, N):
  for i3 in range(i2, N):
   ketqua = ketqua + [(i1, i2, i3)]
(0, 2, 2) in ketqua

True

In [33]:
A = [0, 1, 2, 3, 4, 5, 6, 7]
B = [2, 4, 6, 8, 10]
def intersection(A, B):
 ketqua = []
 for x in A:
  if x in B:
   ketqua = ketqua + [x]
 return ketqua 
intersection(A,B)

[2, 4, 6]

In [31]:
def difference(A, B):
 ketqua = []
 for x in A:
   if x not in B:
    ketqua = ketqua + [x]
 return ketqua
 A = [0, 1, 2, 3, 4, 5, 6, 7]
 B = [2, 4, 6, 8, 10]
difference(A, B)

[0, 1, 3, 5, 7]

In [30]:
def isSubSet(A, B):
 ketqua = True  
 for x in A:
  if x not in B:
   ketqua = False  
 return ketqua
 A = [0, 1, 2, 3, 4, 5, 6, 7]
 B = [2, 4, 6, 8, 10]
isSubSet(A, B)

False

In [28]:
isSubSet(B,A)

False

In [34]:
def equalSets(A, B):
 return isSubSet(A, B) and isSubSet(B, A)
equalSets([1, 3, 5, 7], [7, 3, 1, 5])

True

In [35]:
sodiem_DL = 9
diadiem = ['Cần Giờ', 'Củ Chi', 'Chợ Bến Thành', 'Sở Thú', 'BV thẫm mỹ răng', 'Chí Hòa',
'Dinh Độc lập', 'Bào tàng', 'Trường Văn Lang']
thoigian = [1.0, 1.0, 0.6, 0.4, 1.5, 0.3, 0.3, 0.3, 0.6]
songay_dulich = 1.5

In [48]:
def lietke_chuoinhiphan(n):
  danh_sach=[]
  for i in range(0,2**n):
    gia_tri=i 
    chuoi_np=bin(gia_tri).replace('0b','')
    while(len(chuoi_np)<n):
      chuoi_np = '0'+chuoi_np
    danh_sach.append(chuoi_np)
  return danh_sach

In [45]:
bin(10)

'0b1010'

In [38]:
bin(10).replace('0b', '')

'1010'

In [42]:
n = 9
chuoi_np = bin(10).replace('0b','')
while (len(chuoi_np) < n):
 chuoi_np = '0' + chuoi_np
chuoi_np

'000001010'

In [49]:
lietke_chuoinhiphan(3)

['000', '001', '010', '011', '100', '101', '110', '111']

In [50]:
 lietke_chuoinhiphan(4)

['0000',
 '0001',
 '0010',
 '0011',
 '0100',
 '0101',
 '0110',
 '0111',
 '1000',
 '1001',
 '1010',
 '1011',
 '1100',
 '1101',
 '1110',
 '1111']

In [53]:
def kiemtra_chuoi(chuoi_dang_chon,danhsach,gioihan):
 tong_thoigian=0
 for j in range(0,len(chuoi_dang_chon)):
   if chuoi_dang_chon[j] == '1':
    tong_thoigian = tong_thoigian + thoigian[j]
 ketqua = True 
 if tong_thoigian > gioihan:
  ketqua = False 
 return ketqua, tong_thoigian

In [57]:
def tim_phuongan(thoigian,gioihan):
  search = []
  cac_phuongan = lietke_chuoinhiphan(len(thoigian))
  for i in range(len(cac_phuongan)):
    dc_kg, diem = kiemtra_chuoi(cac_phuongan[i],thoigian,gioihan)
    if dc_kg == True: 
      print (cac_phuongan[i],dc_kg,diem)
      search.append(cac_phuongan[i])
  return search

In [59]:
songay_dulich= 1.5 
tim_phuongan(thoigian,songay_dulich )

000000000 True 0
000000001 True 0.6
000000010 True 0.3
000000011 True 0.8999999999999999
000000100 True 0.3
000000101 True 0.8999999999999999
000000110 True 0.6
000000111 True 1.2
000001000 True 0.3
000001001 True 0.8999999999999999
000001010 True 0.6
000001011 True 1.2
000001100 True 0.6
000001101 True 1.2
000001110 True 0.8999999999999999
000001111 True 1.5
000010000 True 1.5
000100000 True 0.4
000100001 True 1.0
000100010 True 0.7
000100011 True 1.2999999999999998
000100100 True 0.7
000100101 True 1.2999999999999998
000100110 True 1.0
000101000 True 0.7
000101001 True 1.2999999999999998
000101010 True 1.0
000101100 True 1.0
000101110 True 1.3
001000000 True 0.6
001000001 True 1.2
001000010 True 0.8999999999999999
001000011 True 1.5
001000100 True 0.8999999999999999
001000101 True 1.5
001000110 True 1.2
001001000 True 0.8999999999999999
001001001 True 1.5
001001010 True 1.2
001001100 True 1.2
001001110 True 1.5
001100000 True 1.0
001100010 True 1.3
001100100 True 1.3
001101000 True 1.3
010000000 True 1.0
010000010 True 1.3
010000100 True 1.3
010001000 True 1.3
010100000 True 1.4
100000000 True 1.0
100000010 True 1.3
100000100 True 1.3
100001000 True 1.3
100100000 True 1.4

['000000000',
 '000000001',
 '000000010',
 '000000011',
 '000000100',
 '000000101',
 '000000110',
 '000000111',
 '000001000',
 '000001001',
 '000001010',
 '000001011',
 '000001100',
 '000001101',
 '000001110',
 '000001111',
 '000010000',
 '000100000',
 '000100001',
 '000100010',
 '000100011',
 '000100100',
 '000100101',
 '000100110',
 '000101000',
 '000101001',
 '000101010',
 '000101100',
 '000101110',
 '001000000',
 '001000001',
 '001000010',
 '001000011',
 '001000100',
 '001000101',
 '001000110',
 '001001000',
 '001001001',
 '001001010',
 '001001100',
 '001001110',
 '001100000',
 '001100010',
 '001100100',
 '001101000',
 '010000000',
 '010000010',
 '010000100',
 '010001000',
 '010100000',
 '100000000',
 '100000010',
 '100000100',
 '100001000',
 '100100000']